<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Local CSS-->
    <link href="../static/css/addSkill.css" rel="stylesheet">
</head>
  <body>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col">
                <div class="p-3 py-5 ">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h3 class="text-right">TechWorld</h3>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h6 class="text-right">Add Skill</h6>
                    </div>
                    <div class="row">
                        <div class="col"><label class="labels"></label><input type="text" class="form-control" placeholder="skill" value="Skill"></div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h6 class="text-right">Recommended Skill</h6>
                            </div>
                            <div class="row">
                                <div class="col-md-3 text-center">
                                    <button type="button" class="btn btn-primary">HTML</button>
                                </div>
                                <div class="col-md-3 text-center">
                                    <button type="button" class="btn btn-primary">CSS</button>
                                </div>
                                <div class="col-md-3 text-center">
                                    <button type="button" class="btn btn-primary">JavaScript</button>
                                </div>
                                <div class="col-md-3 text-center">
                                    <button type="button" class="btn btn-primary">Flutter</button>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-md-3 text-center">
                                    <button type="button" class="btn btn-primary">Dart</button>
                                </div>
                                <div class="col-md-3 text-center">
                                    <button type="button" class="btn btn-primary">Vue.js</button>
                                </div>
                                <div class="col-md-3 text-center">
                                    <button type="button" class="btn btn-primary">MySQL</button>
                                </div>
                                <div class="col-md-3 text-center">
                                    <button type="button" class="btn btn-primary">C++</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-right"><button class="btn btn-primary profile-button" type="button">Skip</button></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>