<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>
  <body>   <section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          
        </div>
      </div>
            <div class="container">
                <div class="row">
                    <div class="col-4">
                      <div class="card mb-4" style="height: 600px">
                        <div class="card-body text-center">
                          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                            class="rounded-circle img-fluid" style="width: 150px;">
                          <h5 class="my-3">Aaron Chua</h5>
                        </div>
                      </div>
                    </div>
            <div class="col-lg-8">
                <div class="form-group"> 
                    <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input  name="search" placeholder="Search" class="form-control"  type="text">
                      </div>
                    </div>
                  </div>
                <table class="table table-bordered" style="height: 600px;">
                    <thead>
                      <tr>
                        <th scope="col" style="font-weight:normal">First Name</th>
                        <th scope="col" style="font-weight:normal">Last Name</th>
                        <th scope="col" style="font-weight:normal">Email</th>
                        <th scope="col" style="font-weight:normal">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" style="font-weight:normal">Timothy</th>
                        <td>Chan</td>
                        <td>Wctchan001@mymail.sim.edu.sg</td>
                        <td>Delete</td>
                      </tr>
                      <tr>
                        <th scope="row" style="font-weight:normal">Sheng Long</th>
                        <td>Ho</td>
                        <td>slho008@mymail.sim.edu.sg</td>
                        <td>Delete</td>
                      </tr>
                      <tr>
                        <th scope="row" style="font-weight:normal">Gareth</th>
                        <td>Chia</td>
                        <td>wygchia001@mymail.sim.edu.sg</td>
                        <td>Delete</td>
                      </tr>
                      <tr>
                        <th scope="row" style="font-weight:normal">Anson</th>
                        <td>Chua</td>
                        <td>awxchua001@mymail.sim.edu.sg</td>
                        <td>Delete</td>
                      </tr>
                      <tr>
                        <th scope="row" style="font-weight:normal">Yi Chen</th>
                        <td>Chiang</td>
                        <td>ycchiang001@mymail.sim.edu.sg</td>
                        <td>Delete</td>
                      </tr>
                    </tbody>
                  </table>
                  <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                  </nav>
            </div>
    </div>
</div>
      </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>