<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Website</title>
  <link rel="stylesheet" href="../static/css/index.css" />
</head>

<body>
  <header>
    <h1>My Website</h1>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      {% block content %}
      {% for user in users %}
      <div class='post'>
        <p>{{ user['account_id'] }}</p>
        <h2>{{ user['First_name'] }}</h2>
        <p>{{ user['Last_name'] }}</p>
        <p>{{ user['gender'] }}</p>
        <p>{{ user['date_of_birth'] }}</p>
        <p>{{ user['userid'] }}</p>
      </div>
      {% endfor %}
      {% endblock %}
    </section>
  </main>
  <footer>
    <p>&copy; 2021 My Website</p>
  </footer>
</body>

</html>